.profile {
  padding: 20px;
  width: 100vw;
  height: calc(100vh - 93px);
  user-select: none;

  .profile-cardContainer {
    padding: 20px 20px;
  }

  .profile-card {
    height: calc(100vh - 133px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .scroll {
    overflow-y: scroll;
    padding-top: 5px;
  }

  .profile-info {
    justify-content: space-around;

    button {
      width: 95%;
      margin: 2px;
    }
  }

  .profile-image {
    height: 20%;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 13px 0;
  }

  .user-info {
    height: 80%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 14px;

    .info-title {
      font-weight: bold;
      text-align: left;
    }
  }

  .profile-offers {
    overflow-y: scroll;
  }

  .profile-logs {
    overflow-y: scroll;
  }
}

.Card-Heading {
  font-size: 20px;
  font-weight: 700;
  padding-left: 5px;
  color: #78ccc1;
}

.profile-form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .profile {
    .profile-image {
      height: 25%;
    }

    .user-info {
      height: 75%;
    }
  }
}

@media screen and (min-width: 425px) {
  .profile {
    .profile-image {
      height: 30%;
    }

    .user-info {
      height: 70%;
    }
  }
}

@media screen and (min-width: 768px) {
  .profile {
    padding: 10px;

    .profile-card {
      height: calc(100vh - 93px);
    }

    .profile-cardContainer {
      padding: 10px 10px;
    }

    .profile-image {
      height: 15%;
    }

    .user-info {
      height: 85%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .profile {
    padding: 20px;

    .profile-card {
      height: calc(100vh - 133px);
    }

    .profile-cardContainer {
      padding: 20px 20px;
    }

    .profile-image {
      height: 20%;
    }

    .user-info {
      height: 80%;
    }
  }
}

@media screen and (min-width: 1920px) {
  .profile {
    padding: 20px;

    .profile-card {
      height: calc(100vh - 133px);
    }

    .profile-cardContainer {
      padding: 20px 20px;
    }

    .profile-image {
      height: 30%;
    }

    .user-info {
      height: 70%;
    }
  }
}
