.LogCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 98%;
  margin: 0 1% 5px 1%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(179, 226, 220, 0.2);
}
